extends layout
block content
	div.idle.container.hide
		h2 Idle screen
		ul.images
			each val in urls
				li
					img(src=val)
	div.activate.hide.section
		h2 Hello. Take your photo?
		button(name="photo") Let's do it!
		
	
	div.container.countdown-container.show
		h2 Photo Countdown
		
			
		div.countdown
			p.number.fadeUp 3
			img.hide(src='images/camera.png')

		p.click-text.hide SAY CHEESE

	div.container.hide
		h2 Review Email
		div.images
		div.pick
			input(type="email")
			button(name="email") Email
		div.progress
		div.message
			p There was an error



